#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: #8B0000;
  width: 100vw;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;/*permite distribuir y alinear los elementos dentro de un contenedor*/
  align-items: center;/*añinea verticalmente el texto*/
  gap: 5px;
  font-size: 10px;
  font-weight: bold;
  justify-content: space-between;/*separa el titulo del nav*/
}

header h1{
  
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
  
}

.buttom-filter{
  background-color: #b22222; /* Rojo fuego */
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.nav-search{

  display: flex;
  gap: 10px;
  margin-right: 30px;
}


ul{

  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  list-style: none;
  margin-top: 80px;
}

button{
  color: red;
}

img{
  width: 250px;
  height: 250px;
  border: 2px solid red
}


.buttom-filter{
  border: none;
}
.buttom-filter:hover{
  background-color: darkred;
}

.movie-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.movie-info {
  background: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: red;
  border: 2px solid red;
}

.movie-info img {
  width: 150px;
  height: 150px;
  height: auto;
  border-radius: 10px;
}

.movie-info img:hover{
  border: 2px solid red;
}

.movie-info h2 {
  margin: 10px 0;
  font-size: 20px;
}

.movie-info p {
  margin: 5px 0;
  font-size: 16px;
}

.button-movie{
  color: red;
  margin-top: 10px;
}

.button-movie:hover{

  border: 2px solid red;

}


